.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 340px;
}

.img-and-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media-icon {
  position: relative;
  top: 10px;
}

.social-media-text {
  padding-left: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

.body {
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.name {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 48px;
}

.text {
  font-family: "Oswald", sans-serif;
  font-size: 28px;
}

.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 20px;
}
